@charset "utf-8";
// Some custom colors
$link-color: hsl(165, 82%, 51%); // Main Color
$text-color: #263238; //Material Black
$black: #424242;
$off-white: #e0e1e0;
$button-highlight: #a6bacb;
$main-color: #1de9b6;
$secondary: #192824;
$background: #192824;
$green: #03dac6;
$yellow: #ffd913;
$orange: #ff9c55;
$red: #ff5555;
$vlight-green: #a4ffe6;
$light-green: #00ffbf;
$dark-green: #00b686;
$red: #ff5555;
$lg: #75f1d2;
$llg: #46edc3;
$g: #1de9b6;
$dg: #00e3aa;
$ddg: #00ad82;
$p-height: 10px;
$white: #fff;
// Set your brand colors
$red: #e65f61;
$muted-red: #f26c67;
$pink: #fa7c91;
$brown: #a1887f;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$blueish: #8bd0c3;
$grey: #353f2d;
$blue: #42a1ff;

//Pomodoro Colors
$blue-1: #8cd1c3;
$purple: #bb86fc;
$green: #9fbf87;
// Update Bulma's global variables
//@extend
//@extend
//Fonts
$family-sans-serif: 'Overpass', sans-serif;
$family-secondary: 'Open Sans', sans-serif;
$family-primary: $family-sans-serif;

$grey-dark: $text-color;
$grey-light: $beige-lighter;
$weight-normal: 300;
$weight-light: 200;
$navbar-height: 2.5rem;
$navbar-padding-vertical: 0.1rem;
//Custom colors
$primary: $purple;
$light: $blue-1;
$info: $green;
$link: $link-color;
$success: $orange;
$warning: $yellow;
$danger: $muted-red;
//Other props
$widescreen-enabled: false;
$fullhd-enabled: false;
$footer-padding: 2rem 1.5rem 2rem 1.5rem;
$navbar-dropdown-background-color: $red;
$navbar-item-color: $beige-lighter;
$navbar-dropdown-item-active-background-color: $red;
$navbar-item-hover-background-color: transparent;
// Update some of Bulma's component variables
$body-background-color: #000;
$control-border-width: 2px;
$card-background-color: lighten(
  $color: $beige-light,
  $amount: 100%,
);
$footer-background-color: $background;
$border-light: $background;
$progress-bar-background-color: transparentize($background, 0.6);
$text: $text-color;
$family-code: monospace;
//Size override
$table-cell-padding: 0.15em 0.25em;
$size-1: 8rem;
$size-2: 3.5rem;
$size-3: 2.5rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.8rem;
$dimensions: 16 24 32 48 64 96 128 256 512;

// Import only what you need from Bulma
// @import "../../node_modules/bulma/bulma.sass";
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/elements/title.sass';
@import '~bulma/sass/elements/content.sass';
@import '~bulma/sass/elements/image.sass';
@import '~bulma/sass/elements/notification.sass';
@import '~bulma/sass/elements/table.sass';
@import '~bulma/sass/elements/tag.sass';
@import '~bulma/sass/elements/progress.sass';

@import '~bulma/sass/components/card.sass';
@import '~bulma/sass/components/level.sass';
@import '~bulma/sass/components/tabs.sass';
@import '~bulma/sass/grid/columns.sass';
@import '~bulma/sass/helpers/_all.sass';
@import '~bulma/sass/layout/_all.sass';

// @import "../../node_modules/bulma/sass/form/_all.sass";
// @import "../../node_modules/bulma/sass/components/navbar.sass";
// @import "../../node_modules/bulma/sass/grid/tiles.sass";

//Ahhhhh We dont want this
$card-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
.table td,
.table th {
  border: initial;
}
#content-main {
  background-color: lighten($color: $beige-light, $amount: 8%);
}
.table {
  background-color: initial;
}
.card-footer-item:not(:last-child) {
  border-right: none;
}
.content table td,
.content table th {
  border: none;
}
figure {
  background-color: lighten($color: $beige-light, $amount: 10%);
}
//Custom functions
$colorsPal: (
  light: $light,
  primary: $primary,
  link: $link,
  info: $info,
  success: $success,
  warning: $warning,
  danger: $danger,
  white: $white,
  black: $black,
);
@each $colorname, $color-bg in $colorsPal {
  .is-muted-#{$colorname} {
    background-color: lighten($color: $color-bg, $amount: 10%);
  }
}
@each $colorname, $color-bg in $colorsPal {
  .is-highlight-#{$colorname} {
    text-decoration: none;
    color: transparent;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: inset 0 -3px 0 darken($color-bg, 10%);
    &:hover {
      box-shadow: inset 0 -50px 0 0 darken($color-bg, 25%);

      &::after {
        margin-right: 15px;
        margin-left: -5px;
        color: lighten($color-bg, 10%);
        font-style: italic;
        font-weight: bold;
        font-size: x-small;
        content: attr(title);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
@each $colorname, $color-bg in $colorsPal {
  .card-footer-#{$colorname} {
    background-color: lighten($color: $color-bg, $amount: 10%);
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
@each $colorname, $color-bg in $colorsPal {
  .bold-#{$colorname} {
    font-weight: bold;
    font-family: $family-sans-serif;
    color: $color-bg;
    &:hover {
      color: lighten($color: $color-bg, $amount: 10%);
    }
  }
}

// Some custom SASS
body,
html {
  line-height: 1.15;
  user-select: none;
  scroll-behavior: smooth;
}

.is-avatar {
  vertical-align: middle;
  height: 5vh;

  filter: brightness(0.75) saturate(120%) contrast(110%) hue-rotate(20deg);
  image-rendering: crisp-edges;
  padding: 2em;
  width: 15vw;
  @media screen and (max-width: 1023px) {
    width: auto;
    max-width: 70%;
    margin: auto !important;
    vertical-align: middle;
    height: 5vh;
  }
}

.is-avatar-hero {
  vertical-align: middle;
  img {
    filter: brightness(1.05) saturate(110%) contrast(140%) hue-rotate(20deg);
    image-rendering: crisp-edges;
  }
  max-width: 24vmax;
  max-height: 24vmax;
  transform: scale(1.2);
  background-image: linear-gradient(
    rgba(28, 233, 181, 0.6),
    rgba(51, 51, 51, 0.7)
  );
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.tag-footer {
  justify-content: space-between;
  overflow-x: auto;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #666;
}

button {
  a {
    color: #eff0eb;
  }
}
.tile {
  justify-content: center;
}

.is-hcentered {
  justify-content: space-around;
}
.is-family-mono {
  font-family: 'Roboto Mono', monospace;
}
.hr-match {
  display: inline-block;
  &:after {
    content: '';
    display: block;
    border-top: 5px solid $link-color;
    transform: skewX(-50deg);
    margin-right: 10px;
  }
}

.number-about {
  font-size: 1.4rem;
  color: $link-color;
}
.has-no-bg {
  background: transparent !important;
}
.progress {
  width: 55%;
}
#hero-content {
  background-color: transparentize($color: #000, $amount: 0.2);
  z-index: 0;
  backdrop-filter: blur(5px) contrast(1.8);
}
.is-light-muted-bg {
  background-color: transparentize($color: $beige-light, $amount: 0.6);
  border-radius: 2px;
}
.is-muted-bg {
  background-color: transparentize($color: $dg, $amount: 0.5);
  border-radius: 2px;
}
.is-active {
  background-color: transparentize($color: $link-color, $amount: 0.7);
  border-radius: 20px;
  a {
    color: $white !important;
  }
}
.is-inactive {
  background-color: transparentize($color: $llg, $amount: 0.9);
  border-radius: 20px;
  a {
    color: $white !important;
  }
}

.level:not(:last-child) {
  margin-bottom: 0.4rem;
}
.custom-width {
  max-width: 26.5vw;
}
.slick-prev,
.slick-next {
  &::before {
    color: #3c3c3b !important;
  }
}

//MEDIA Queries

@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: #f05c57;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    padding: 0.5rem 0;
  }
  #MainIcon {
    height: 156px;
    width: 156px;
  }
  body,
  html {
    overflow-x: hidden;
  }
  #contentMain {
    padding: 2vmax;
  }
  .level-left + .level-right {
    margin-top: 0.2rem;
  }
  .level:not(:last-child) {
    margin-bottom: 0.8rem;
  }
  .custom-width {
    max-width: 100%;
  }
  .hero.is-fullheight {
    min-height: calc(100vh - #{$navbar-height});
  }
  canvas {
    max-height: calc(100vh - #{$navbar-height});
    min-width: calc(100vw - 0);
  }
  #content-main {
    padding: 0.5vmax;
  }
  .progress {
    max-width: 35%;
  }
}
.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 0.3em solid transparentize($color: #fff, $amount: 0.3);
  border-left: 0.3em solid transparentize($color: $background, $amount: 0.7);
  border-radius: 50%;
  animation: load8 1.5s infinite linear;
  transition: opacity 0.3s;
}

.loader--hide {
  opacity: 0;
  z-index: -9999999;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
$link-color: #1de9b6; // Main Color
$text-color: #263238; //Material Black
$off-white: #e0e1e0;
$button-highlight: #a6bacb;

// animation: fadeInAnimation ease 3s;
// animation-iteration-count: 1;
// animation-fill-mode: forwards;
// scroll-behavior: smooth;

// @keyframes fadeInAnimation {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

.button-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  @media screen and (max-width: 600px) {
    justify-content: space-evenly;
  }
}

span.animate-hand {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.2s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
  font-size: 1.8rem;

  @media only screen and (max-width: 600px) {
    font-size: 1.5rem;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  } /* The following four values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
